.container{
    text-align: center;
    width: 70%;
    height: 600px;
    background-position:center;
    background-image: url('../../../assets/Images/7119323_3327597.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    margin:80px auto;
}
div h1{
font-size: 3rem;
}